.week-container {
    height: 100%;
    
    .date-names {
        display: flex;
        flex-wrap: wrap;
        border-left: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        .name {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 42px;
            width: 100%;
            max-width: calc((100% - 68px) / 7);
            text-align: center;
            border-right: 1px solid #dddddd;
            span {
                display: inline-block;
                height: 30px;
                width: 30px;
                text-align: center;
                line-height: 2.2;
                // border: 1px solid #dddddd;
                border-radius: 100%;
                margin-left: 5px;
            }
            &.today span {
                background-color: lightcoral;
                border-color: lightcoral;
                color: white;
            }
            &.sidebar {
                max-width: 60px;
            }
        }
    }

    .date-list {
        display: flex;
        flex-wrap: wrap;
        height: calc(100% - 43px);
        padding: 0;
        margin: 0;
        border-left: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        overflow: auto;
        .date-item {
            width: 100%;
            max-width: calc((100% - 68px) / 7);
            display: flex;
            flex-direction: column;
            padding: 20px 0px;
            position: relative;
            text-align: center;
            border-right: 1px solid #dddddd;
            &.sidebar {
                max-width: 60px;
            }
            .hour {
                border-bottom: 1px solid #dddddd;
                font-size: 12px;
                color: #acacac;
                min-height: 42px;
                .hour-content {
                    width: 100%;
                    height: 100%;
                }
                &:first-child {
                    border-top: 1px solid #dddddd;
                }
                &.sidebar {
                    border-color: transparent;
                    .hour-content {
                        padding: 0;
                        margin-top: -8px;
                    }
                    &:last-child {
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        .hour-content {
                            margin-top: 14px;
                        }
                    }
                }
            }
        }
        
    }
}

