.container {
    height: 100%;
    .weekDays {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        border: 1px solid #dddddd;
        border-top: none;
        li {
            list-style: none;
            text-align: center;
            width: 100%;
            font-size: 14px;
            border-right: 1px solid #dddddd;
            padding: 12px;
            &:last-child{
                border-right: none;
            }
        }
    }
    .days {
        display: flex;
        flex-wrap: wrap;
        height: calc(100% - 42px);
        padding: 0;
        margin: 0;
        border-left: 1px solid #dddddd;
        .date-item {
            flex-basis: calc((100% - 7px) / 7);
            text-align: center;
            border-right: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            color: #acacac;
            &.current-month {
                color: #333333;
            }
            &.today {
                background-color: lightcoral;
                border-color: lightcoral;
                color: white;
            }
        }
    }
}

